@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

html,
body {
background: #F5F6FA;
}

button {
  cursor: pointer;
}

/* ----------------------- */

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.bg-rounded {
  border-radius: 48px;
  background: white;

  padding: 100px 8.333vw 50px;
  margin-inline: 16px;
}

@media (min-width: 1500px) {
  .bg-rounded {
    padding-inline: 120px;
  }
}

@media (max-width: 1200px) {
  .bg-rounded {
    padding: 50px 4.5vw 40px;
  }
}

/* ------------------------- */
/*        TYPOGRAPHY         */
/* ------------------------- */
.title {
  font-weight: 700;
  font-size: 52px;
  line-height: 1.1;
  letter-spacing: -2.6px;
  color: #22262f;
}

@media (max-width: 1200px) {
  .title {
    font-size: 42px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }
}